@model WebService.Models.Reservation

@{
    ViewBag.Title = "Reservation";
}

<h2>Wybierz miejsca</h2>

@using (Html.BeginForm("Reserve", "Reservation", FormMethod.Post, new { @onsubmit = "return checkIsEmpty(this);" }))
{
    @Html.EditorFor(m => m.SeanceId)

    var rows = Model.Spots.GroupBy(s =>
    {
        var split = s.Number.Split('-');
        return split[1];
    });
    <div class="room-view">
        @foreach (var row in rows)
        {
            <div class="row seats-view">
                @foreach (var spot in row)
                {
                    var disabled = spot.Reserved ? "disabled" : "";

                    <div class="col checkboxes">
                        <input type="checkbox" name="spots" value="@spot.Id" id="@spot.Number" @disabled />
                        <label class="check-spot" for="@spot.Number">@spot.Number</label>
                    </div>
                }
            </div>
        }
    </div>
    <div class="form-group form-view">
        <div class="col-md-offset-2 col-md-10">
            <b>Twój adres e-mail:</b> @Html.TextBoxFor(m => m.Email, new {@readonly = "readonly"})
            <input type="button" value="Zmień e-mail" class="btn" onclick="unblock()"/>
        </div>
    </div>

    <div class="form-group form-view">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Zarezerwuj" class="btn btn-primary" />
        </div>
    </div>
}

@Scripts.Render("~/bundles/local")