@model IEnumerable<ServicesModels.db.Movie>

@{
    ViewBag.Title = "CienemaApp - Strona główna";
}

<div class="jumbotron">
    <h1>CinemaApp</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lista filmów:</h2>
        <br/>
            @{ 
               <table class="table table-hover">

               @foreach (var movie in Model)
               {
                <tr>
                    <td class="cell">
                        <img class="cell-picture" src="/Resources/@movie.Cover">
                    </td>
                    <td  class="cell">
                        <h4 class="content">@movie.Title</h4>
                    </td>
                    <td  class="cell">
                        <a class="btn btn-primary content "
                           href=@Url.Action("../Reservation/Film" , new { id = movie.Id })>
                            Rezerwuj >>
                        </a>
                    </td>
                </tr> 
               }
            </table>

            }

    </div>

@*
    <div id="reservation" class="col-md-4">
        @using (Html.BeginForm("ReserveSpot", "Home", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SeanceId)
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.SeanceId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Reserve" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
*@
</div>