@model IEnumerable<ServicesModels.db.Movie>

@{
    ViewBag.Title = "CienemaApp - Strona główna";
}

<div class="jumbotron">
    <h1>CinemaApp</h1>
    <p class="lead">Projekt systemu, który pozwala rezerwacje biletów na film do kina</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Lista filmów:</h2>
        <p>
            @{ 
                foreach(var movie in Model)
                {
                    <h3>@movie.Title</h3>
                    <span>@movie.Description</span>
                    <br />
                    <br />
                }
            }
        </p>
    </div>

@*
    <div id="reservation" class="col-md-4">
        @using (Html.BeginForm("ReserveSpot", "Home", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SeanceId)
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.SeanceId)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Reserve" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
*@
</div>